ng()
{
ngrok --subdomain=${1-haodev} ${2-8000}
}

killp()
{
kill $(ps -e | grep gulp | grep -v grep | awk '{print $1}')
kill $(ps -e | grep -e 'node .*harp server' | grep -v grep | awk '{print $1}')
}

startp()
{
gulp & harp server ${1-.} ${2-9000} &
}

dobash()
{
docker exec -it ${1-} bash
}

set_iterm_profile() {
echo -e "\033]50;SetProfile=$1\a" 
}

set_iterm_tab_color() {
echo -e "\033]6;1;bg;$1;brightness;255\a"
}

reset_iterm_tab_color() {
echo -e "\033]6;1;bg;*;default\a"
}

findport() {
lsof -i :$1
}

vscode () { 
VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;
}

digs() {
dig +nostats +nocomments +nocmd +noquestion +recurse $1 any
}
